name: Generate
permissions:
  checks: write
  contents: write
  pull-requests: write
  statuses: write
  id-token: write
"on":
  workflow_dispatch:
    inputs:
      force:
        description: Force generation of SDKs
        type: boolean
        default: false
      set_version:
        description: optionally set a specific SDK version
        type: string
  schedule:
    - cron: 0 0 * * *
  pull_request:
    types:
      - labeled
      - unlabeled
jobs:
  mint_rubygems_token:
    uses: ./.github/workflows/rubygems_mint_token.yaml
  generate:
    needs: mint_rubygems_token
    uses: speakeasy-api/sdk-generation-action/.github/workflows/workflow-executor.yaml@v15
    with:
      force: ${{ github.event.inputs.force }}
      mode: pr
      set_version: ${{ github.event.inputs.set_version }}
    secrets:
      github_access_token: ${{ secrets.GITHUB_TOKEN }}
      rubygems_auth_token: ${{ needs.mint_rubygems_token.outputs.rubygems_token }}
      speakeasy_api_key: ${{ secrets.SPEAKEASY_API_KEY }}
